node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
.eslintcache
.nyc_output
coverage
.jest
.debug
.agent
.kiro
.vscode
.DS_Store